<%= form_for article do |f| %>
  <div class="form-group margin-bottom-10">
    <%= f.label :image, "画像", class:"txtcolorw" %>
    <%= f.file_field :image, class:"txtcolorw margin-bottom-10 btn-success", id: "image-upload" %>
    <div id="image-list"></div>
    <br>
    <%= f.label :title, 'タイトル', class:"txtcolorw" %>
    <%=f.text_field :title, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, '本文', class:"txtcolorw" %>
    <%=f.text_area :body, rows:7, class:'form-control' %>
  </div>
  <%=f.submit class: 'btn btn-success' %>
<% end %>
