<%= form_for article do |f| %>
  <div class="form-group margin-bottom-10">
    <%= f.label :image, "画像", class:"txtcolorw" %>
    <%= f.file_field :image, class:"txtcolorw margin-bottom-10 btn-success", id: "image-upload" %>
    <div id="image-list"></div>
    <br>
    <%= f.label :title, 'タイトル', class:"txtcolorw" %>
    <%=f.text_field :title, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, '本文', class:"txtcolorw" %>
    <%=f.rich_text_area :body, rows:7, class:'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :tag_list, 'タグ', class:"txtcolorw" %>
    <%=f.text_field :tag_list, value: @article.tag_list.join(','), class:'form-control' %>
    <p class="txtcolorw">「,」で区切って複数のタグを登録できます</p>
  </div>
  <%=f.submit class: 'btn btn-success' %>
  <br>
  現在の共有設定：<%= @article.status_i18n %>
  <% if @article.released? %>
    <%= link_to '投稿を非公開にする', unrelease_article_path, method: :patch, class:"btn btn-dark" %>
  <% else %>
    <%= link_to '投稿を共有する', release_article_path, method: :patch, class:"btn btn-info" %>
  <% end %>

<% end %>
