<div id="carouselExampleFade" class="carousel slide carousel-fade col-md-12" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block pics-size" src="assets/back-to-school-913074_1920.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3 class="bg-success">ブログへようこそ！</h3>
      </div>
    </div>
    <% @articles.shuffle.first(3).each do |pic|%>
      <div class="carousel-item">
      <% if pic.image.attached? %>
        <%= image_tag pic.image, class: "d-block pics-size", alt:"slide" %>
        <div class="carousel-caption">
          <h3 class="text-dark"><%=pic.title%></h3>
          <p class="text-dark">投稿者：<%=pic.user.nickname%></p>
        </div>
      <%else%>
        <%= image_tag 'noimage.jpg', class: 'd-block pics-size', alt:"slide" %>
        <div class="carousel-caption">
          <h3 class="text-dark"><%=pic.title%></h3>
          <p class="text-dark">投稿者：<%=pic.user.nickname%></p>
        </div>
      <%end%>
      </div>
    <%end%>
  </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container margin-bottom-10">
<% if user_signed_in?%>
  <h3 class="margin-top-5per">投稿一覧</h3>
  <div class="row bigbox">
    <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-6 col-md-3", id="article-box">
      <%if article.status_i18n == "非公開" %>
        <div class="secret">
          <i class="fas fa-key">非公開</i>
        </div>
      <%end%>
      <%= link_to article, class:"txtcolor imgBx" do %>
        <% if article.image.attached? %>
          <%= image_tag article.image, class: "article-img margin-top-5per" %>
        <%else%>
          <%= image_tag 'noimage.jpg', class: 'article-img margin-top-5per' %>
        <%end%>
        <div class="content">
          <div class="title"><%= article.title %></div>
          <div>投稿者：<%= article.user.nickname %></div>
          <span><%= article.created_at.strftime("%Y/%m/%d %H:%M") %></span>
          <i class="fas fa-heart" style="font-size:15px;"><%= article.likes.all.length%></i>
          <i class="fas fa-comment" style="font-size:15px;"><%= article.comments.all.length%></i>
        </div>
        <%= render 'tag_list', tag_list: article.tag_list%>
      <% end %> <%# link_toのend%>
      </div>
    <% end %><%# eachのend %>
  </div>

  <div class="row">
    <%= link_to "新規投稿",new_article_path, class:"margin-top-5per btn btn-primary" %>
  </div>
</div>
<% else %> <%# if user_signed_inのelse %>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= link_to '新規登録する', new_user_registration_path, class:"btn btn-info"%>
      <%= link_to 'ログインする', new_user_session_path, class:"btn btn-warning"%>
      <%= link_to 'トップ画面へ', top_path, class:"btn btn-secondary"%>
    </div>
  </div>
</div>
<% end %> <%# if user_signed_inのend %>

<%= paginate @articles if user_signed_in? %>

<%= render '/articles/footer'%>
