<%= render '/articles/carousel', articles: @articles%>

<div class="container margin-bottom-10">
<% if user_signed_in?%>
  <h3 class="margin-top-5per">投稿一覧</h3>
  <div class="row bigbox">
    <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-6 col-md-3", id="article-box">
      <%if article.status_i18n == "非公開" %>
        <div class="secret">
          <i class="fas fa-key">非公開</i>
        </div>
      <%end%>
      <%= link_to article, class:"txtcolor imgBx" do %>
        <% if article.image.attached? %>
          <%= image_tag article.image, class: "article-img margin-top-5per" %>
        <%else%>
          <%= image_tag 'noimage.jpg', class: 'article-img margin-top-5per' %>
        <%end%>
        <div class="content">
          <div class="title"><%= article.title %></div>
          <div>投稿者：<%= article.user.nickname %></div>
          <span><%= article.created_at.strftime("%Y/%m/%d %H:%M") %></span>
          <i class="fas fa-heart" style="font-size:15px;"><%= article.likes.all.size%></i>
          <i class="fas fa-comment" style="font-size:15px;"><%= article.comments.all.size%></i>
        </div>
        <%= render 'tag_list', tag_list: article.tag_list%>
      <% end %> <%# link_toのend%>
      </div>
    <% end %><%# eachのend %>
  </div>

  <div class="row">
    <%= link_to "新規投稿",new_article_path, class:"margin-top-5per btn btn-primary" %>
  </div>
</div>
<% else %> <%# if user_signed_inのelse %>
<div class="container">
  <div class="row">
    <div class="mx-auto margin-top-5per">
      <%= link_to '新規登録する', new_user_registration_path, class:"btn btn-info"%>
      <%= link_to 'ログインする', new_user_session_path, class:"btn btn-warning"%>
      <%= link_to 'ゲストでログイン', articles_guest_sign_in_path, method: :post, class:"btn btn-light" %>
      <%= link_to 'トップ画面へ', top_path, class:"btn btn-secondary"%>
    </div>
  </div>
</div>
<% end %> <%# if user_signed_inのend %>

<%= paginate @articles if user_signed_in? %>

<%= render '/articles/footer'%>
