<div class="container margin-bottom-10">
  <div class="col-md-12 padding-top-10 article-block">
    <div class="form-group relative">
      <% if @article.image.attached? %>
        <%= image_tag @article.image, class: "show-img" %>
      <%else%>
        <%= image_tag 'noimage.jpg', class: 'show-img' %>
      <%end%>
    </div>
    <h3><%= @article.title %></h3>
    <p class="infomation">
      投稿者：<%= @article.user.nickname %> 
      &nbsp; 現在の共有設定：<%= @article.status_i18n %>
      &nbsp; <span id="likes_buttons_<%= @article.id %>"><%= render "like", article: @article%></span>
    </p>
    <% if @article.released? %>
      <div class="padding-bottom-15", style="padding: 10px;">
        <%= @article.body %>
        タグ：<%= render 'tag_list', tag_list: @article.tag_list%>
        <p class="text-right"><%= @article.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
      </div>

      <%if @article.user_id == current_user.id %>
        <%= link_to "編集する", edit_article_path, class:"btn btn-primary", style:"margin-bottom:10px; margin-right:10px;" %>
        <%= link_to "削除する", article_path, method: :delete, data: {confirm: "削除しますか？"} ,class:"btn btn-danger", style:"margin-bottom:10px; margin-right:10px;" %>
      <%end%>
    <% elsif @article.unreleased? && current_user.id != @article.user_id %>
      <h5>非公開な投稿です！</h5>
    <% elsif @article.unreleased? && current_user.id == @article.user_id%>
      <div class="padding-bottom-15", style="padding: 10px;">
        <%= @article.body %>
        タグ：<%= render 'tag_list', tag_list: @article.tag_list%>
        <p class="text-right"><%= @article.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
      </div>
        <%= link_to "編集する", edit_article_path, class:"btn btn-primary", style:"margin-bottom:10px; margin-right:10px;" %>
        <%= link_to "削除する", article_path, method: :delete, data: {confirm: "削除しますか？"} ,class:"btn btn-danger", style:"margin-bottom:10px; margin-right:10px;" %>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col padding-top-10 ">
      <% if current_user %>
        <div class="form-group">
          <%= form_with(model: [@article, @comment], local: true) do |form| %>
            <%= form.text_area :text, placeholder: "コメントする", rows: "2", class:"form-control" %>
            <%= form.submit "送信", class:"btn btn-info"%>
          <% end %>
        </div>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>

    <div class="comments margin-bottom-10">
      <div class="comments-wrapper">
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong style="color:blue;"><%= comment.user.nickname %>：</strong>
              <%= comment.text %>
              <br>
              <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
              <% if comment.user_id == current_user.id %>
                <%= link_to article_comment_path(comment.article.id, comment.id), method: :delete, data: {confirm: "削除しますか？"} do%>
                  <i class="fas fa-trash-alt icon-delete"></i>
                <% end %>
              <% end %>
            </p>
          <% end %>
        <% end %>
        <% if @comments == [] %>
          <p>まだコメントはありません！</p>
        <% end %>
      </div>
    </div>

  </div>
</div>
