<div class="text-center txtcolorw">
  <h2 class="text-center txtcolorw">ログイン</h2>
  <%= link_to user_facebook_omniauth_authorize_path, method: :post, style:"text-decoration: none" do %>
    <i class="fab fa-facebook-square txtcolorw", id="fbicon"></i>
  <%end%>
  <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
    <i class="fab fa-google txtcolorw", id="ggleicon"></i>
  <%end%>
  <%= link_to 'ゲストでログイン', articles_guest_sign_in_path, method: :post, class:"btn btn-light" %>
</div>

<%= form_with model: @user, url: new_user_session_path, method: :post, class:"box", local: true do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログイン情報を保存する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>

