<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/" onMouseOut="this.style.color=''" onMouseOver="this.style.color='lightblue'"><i class="fas fa-cat" style="font-size:30px;"></i>ふんわりブログ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item active">
        <a class="nav-link" style="color:red;" href="/users/sign_out", data-method="delete"><i class="fas fa-sign-out-alt"></i>ログアウト</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/top">トップ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">投稿一覧<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ranking"><i class="fas fa-crown"></i>ランキング</a>
      </li>
      <%# <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> %>
      <%# <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> %>
      <li class="nav-item">
        <a class="nav-link" href="/articles/new"><i class="far fa-paper-plane"></i>新規投稿</a>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: "nav-link" do%>
          <i class="fas fa-user-plus">アカウント作成</i>
        <%end%>
      </li>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link" do%>
          <i class="fas fa-sign-in-alt">ログイン</i>
        <%end%>
      </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <%if unchecked_notifications.any? %>
        <%= link_to notifications_path do%>
          <i class="far fa-bell n-bell"></i>
          <i class="fas fa-circle n-circle"></i>
        <%end%>
      <%else%>
        <%= link_to notifications_path do%>
          <i class="far fa-bell n-bell"></i>
        <%end%>
      <%end%>
      &nbsp;
      <form class="form-inline">ログインユーザー：<%= current_user.nickname %>さん</form>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="タイトル検索" aria-label="Search" name=keyword>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/articles/search">検索</button>
      </form>
    <% end %>
  </div>
</nav>
<%# navbarなどjQueryが必要な場合は以下の3行を記述 %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

