<!DOCTYPE html>
<html>
  <head>
    <title>ふんわりブログ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <%# <canvas class="background"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script> %>

    <%= render '/layouts/header' %>
<!-- deviseの設定用、ログイン時のメッセージ表示など -->
    <p class="notice alert-success text-center"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
